@media screen and (min-width: 550px) {

    .main-nav {
        list-style-type: none;
        display: flex;
        gap: 1em;
        justify-content: flex-end;
    }

    .media-card {
        flex-direction: row;
    }
}